#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
}

.attribute {
  width: 20vw;
  height: 100%;
  border: 1px solid whitesmoke;
  border-radius: 1em;
  padding: 1em;
  background-color: rgba(0, 26, 51, 0.85);;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: horizontal;
  flex-wrap: wrap;
  width: 80vw;
}

input[type='text'], input[type='number'], select {
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  width: 75%;
}

#screenshot {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2vw;
  border-radius: 2em;
  border: 1px solid whitesmoke;
}

#gallery {
  background-color: rgba(22, 58, 67, 0.85);
  padding: 2vw;
  border-radius: 2em;
  border: 1px solid whitesmoke;
  margin: 1em;
  width: 75vw;
}

.image {
  width: 20vw;
  height: 15vw;
}

#gallery-images {
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
}